/target
/gcm.cache
/.vscode
.vscode
/build
/obj
*/xcuserdata/*
*xcworkspace/xcuserdata/*
helios.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
hdd.dmg
hdd.dsk
u-boot-spl-dtb.bin
u-boot.itb
u-boot-dtb.bin

